#main_section table{
    position:relative;
    margin: 80px auto;
    

    width:85%;
    border-collapse: collapse;
    font-family: 'omyuPretty';
}

@font-face {
    font-family: 'omyuPretty';
    src: url(../font/omyuPretty.ttf);
}
#main_section table th{
    border-bottom:1px solid rgb(95, 95, 255);
}

#main_section table a{
    text-decoration: none;
    color:black;
}

#main_sectino table ul{
    padding-left: 0;
}
#main_section table td{
    border-bottom: 1px solid rgb(205, 212, 255);
}
#main_section table td:nth-child(1){
    width:12%;
    background-color: rgb(248, 240, 255);
    border-right: 1px solid rgb(205, 212, 255);
}
#main_section table td:nth-child(2){
    width:12%;
    border-right: 1px solid rgb(205, 212, 255);
}
#main_section table td:nth-child(3){
    width:40%;
    text-align: left;
}