
.inner_inner_tab{
    border:1px solid lightgrey;
    border-radius: 0.7rem;

    position:absolute;
    padding:0;
    left: 100%;
    width:80px;
    display: inline-block;
    list-style: none;
}
.inner_inner_tab li:hover{
    background-color: lightskyblue;
    border-radius: 0.7rem;
}
.inner_inner_tab li{
    text-align: center;
    padding : 4px 8px;
}
.inner_inner_tab li a{
    color:black;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}