
#main_section>#section1{
    position:relative;
    width:100%;
    height: 100%;
    background-image: url("../img/school_study_02/section1/visual_bg.png");
    background-size: 100% auto;
}

#section1>.compass_obj{
    position:absolute;
    width:20%;
    z-index: 10;

}