@media screen and (min-width: 1024px){
    body {
        margin: 0;
    }

    #head_cont_wrap {
        width: 100%;
        height: 140vh;
    }

    #head_cont {
        position: fixed;
        z-index: 1;

        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    @font-face {
        font-family: 'cookie-run-black';
        src: url("../font/CookieRunBlack.ttf");
    }

    @font-face {
        font-family: 'cookie-run-bold';
        src: url("../font/CookieRunBold.ttf");
    }

    @font-face {
        font-family: 'cookie-run-regular';
        src: url("../font/CookieRunRegular.ttf");
    }

    @font-face {
        font-family: 'omyuPretty';
        src: url("../font/omyuPretty.ttf");
    }

    header {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid silver;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;

        font-family: omyuPretty;
        flex-grow: 0; /*head_cont 에 대한 flex-grow*/

    }

    #title {
        height: 100%;
        width: 155px;
        padding-left: 15px;
        display: inline-block;
    }

    #title > img[src$="milkT.jpg"] {
        display: inline-block;
        width: auto;
        height: 100%;
    }

    #title > p {
        display: inline-block;
        color: #434343;
        margin: 0;
        font-size: 1.3rem;
        position: relative;
        top: -8px;
        font-weight: 900;
        color: rgb(1,140,209);
    }

    header > nav {
        display: inline-block;

        width: 70%;
    }

    header >nav a{
        text-decoration: none;
        color: black;
        padding:10px;
    }
    header>nav a:hover{
        color: rgb(30,67,216);
        border-bottom: 4px solid rgb(30,67,216);
    }

    header > nav > ul {
        list-style: none;
        padding-left: 0;
        position: relative;
        top: -8px;
        display: flex;
        justify-content: center;
    }

    header > nav > ul > li {
        display: inline-block;
        font-weight: 700;
        color: #393939;
        font-size:1.2rem;
        padding-left:30px;
    }

    header > #login_page > p {
        width: 100px;
        border: 2px solid rgb(30,67,216);
        color: blue;
        margin-right: 15px;
        padding: 5px 0;
        text-align: center;
        border-radius: 20px;
        position: relative;
        top: -20px;

        font-weight: 900;
        font-size: 1.2rem;
    }

    header #mobile_btn{
        display:none;
    }



    /* 서브 메뉴 CSS 시작 */
    .sub_menu_view {
        position: fixed;
        display: none;
        top: -220px;
        left: 0;
        width: 100%;
        z-index: 90;
    }
    .sub_menu_view.slideDown {
        animation: slideDownAnimation 0.5s ease forwards;
    }
    @keyframes slideDownAnimation {
        from {
            top: -170px; /* 시작 위치: 위쪽에서 아래로 */
        }
        to {
            top: 55px; /* 종료 위치: 아래쪽으로 내려가기 */
        }
    }

    .sub_menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
        left:15%;
        position: absolute;
        z-index: 90;
        background-color: rgba(255,255,255,0.8);
        backdrop-filter: blur(5px);
        border-radius: 30px;
        padding: 0 0 20px 0;
        text-align: center;

    }
    .sub_menu ul{
        list-style: none;
    }
    .sub_menu li{
        margin-bottom: 10px;
    }
    .sub_menu a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
        font-size: 0.9rem;
        font-weight: bold;
        font-family: omyu-pretty, cookie-run-regular, malgun_gothic, serif;
    }
    .sub_menu a:hover{
        color: rgb(30,67,216);
    }
    #sub_menu1{
        position: relative;
        left: -45px;
    }

    #sub_menu2{
        position: relative;
        left: -45px;
    }
    #sub_menu3{
        position: relative;
        left: -45px;
    }

    #mobile_menu{
        display: none;
    }
    /* 서브 메뉴 CSS 끝 */

    /*위에까지가 헤더*/
    .container {
        flex-grow: 1; /*head_cont 에 대한 flex-grow*/
        border: 2px solid silver;
        /*height: 85vh;*/
        /* width: 100vw; */
        overflow: hidden;
        display: flex;
    }


    /*left advertise 시작*/
    #advertise_left_button {
        position: fixed;
        left: 0;
        bottom: 0;
    }

    #advertise_left_button > img {
        width: 50px;
        height: 50px;
    }

    #advertise_left_button > p {
        text-align: center;
    }


    .container > .advertise_left {
        display: flex;
        width: 0;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        height: 100%;
    }


    /*left advertise 끝*/
    /*inner tab 시작*/
    .container > .inner_tab_wrap {
        width: 0;
        /*background-image: linear-gradient(to right top, #edfcff, #f0fcff, #f2fcff, #f5fdff, #f7fdff, #f9fdff, #fbfdff, #fcfdff, #fdfdff, #fefeff, #fefeff, #ffffff);
        */
        background-color: #f0fcff;
    }

    .inner_tab_wrap_open {
        min-width: 180px;
    }

    .inner_tab_open {
        transform: translateY(290px);
        transition-duration: 1s;
    }

    .inner_tab_close {
        transform: translateY(-290px);
        transition-duration: 1s;
    }


    .container > .inner_tab_wrap > .inner_tab {
        min-height: 580px;
        width: 170px;
        position: relative;
        top: -290px;

        flex-grow: 0;


        flex-basis: 170px;
    }

    .container > .inner_tab_wrap > .inner_tab > h5 {
        margin: 0;
    }

    .container > .inner_tab_wrap > .inner_tab > nav > ul {
        /*display: inline-block;*/
        width: 170px;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 10px;
    }

    .container > .inner_tab_wrap > .inner_tab > nav > ul > li {
        height: 70px;
        border: 2px solid black;
        border-radius: 15px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;

    }

    .container > .inner_tab_wrap > .inner_tab > nav > ul > li > a {
        color: black;
        font-weight: 900;
        font-size: 0.8rem;
        text-decoration: none;
    }

    .container > .inner_tab_wrap > .inner_tab > nav > ul > li:hover {
        background: linear-gradient(to right bottom,#bee6ff 75%,#cbdfff);
    }

    .container > .inner_tab_wrap > .inner_tab > nav > ul > li > img {
        box-sizing: border-box;
        padding:15px;
        height: 70px;
        width: 70px;
        display: inline-block;
    }

    .container > .inner_tab_wrap > .inner_tab > nav > ul > li > a > p {
        width: 100px;
        text-align: center;
        margin: auto auto;
    }

    .container > .inner_tab_wrap > .inner_tab > #inner_tab_button {
        width: 100%;
        height: 10px;
        background-color: lightgrey;
    }


    #nyangi > img {
        width: 93px;
    }

    /*여기까지가 inner tab*/
    .container > #main_section {
        flex-grow: 1;
        text-align: center;
        overflow-y: scroll;


        background-image: linear-gradient(to right top, #edfcff, #f0fcff, #f2fcff, #f5fdff, #f7fdff, #f9fdff, #fbfdff, #fcfdff, #fdfdff, #fefeff, #fefeff, #ffffff);



        padding-left: 8px;

    }

    .container > #main_section::-webkit-scrollbar {
        width: 8px;
        background-color: #f0fcff;
        border-radius: 5px;
    }

    .container > #main_section::-webkit-scrollbar-thumb {
        width: 7px;
        background-color: lightskyblue;
        border-radius: 5px;
    }

    .container > #main_section > .main_section_img_wrap {
        display: inline-block;

        height: 100%;
        width: 100%;

    }

    .container > #main_section > .main_section_img_wrap > img {
        display: inline-block;
    }

    .img_height100 {
        height: 100%;
        width: auto;
    }

    .img_width100 {
        width: 100%;
        height: auto;
    }


    /*여기까지 main_section*/
    #advertise_right_button {
        position: fixed;
        right: 0
    }

    #advertise_right_button > img {
        width: 50px;
        height: 50px;
    }

    #advertise_right_button > p {
        text-align: center;
    }


    .container > .advertise_right {
        display: flex;
        width: 0;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        height: 100%;
    }

    .showAd {
        height: 100%;
        background-color: #f0fcff;
        min-width: 80px;
        max-width: 80px;

    }

    .milkT_adv {
        width: 70px;
        height: 150px;
        border-radius: 15px;
        border: 1px solid silver;
        background-color: lightskyblue;

        text-decoration: none;
        color: white;
        font-weight: 900;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*-------------여기까지 container 끝---------------------*/
    /*footer 시작*/
    footer {
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 5vh;


        background-color: lightgrey;
        position: relative;
        z-index: 2;
    }

    footer > img {
        height: 30px;
    }

    footer > p {
        margin: 0 2vw 3vh;
        color: #6a6a6a;
        font-size: 0.8rem;
    }

    .advertise_bottom{
        display: none;
    }
}


