@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
#mobForm{
    display: none;
}
#Category{
    display: none;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#container {
    /*width: 1500px;*/
    width: 1200px;
    margin: 0 auto;
}

.mainList {
    position: relative;
    padding-top: 15vh;
}

.main_ul {
    display: flex;
    text-align: center;
    height: 100px;
    position: absolute;
    z-index: 10;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subList a{
    color: #333333;
}
.main_ul>li {
    font-weight: bolder;
    font-size: 0.8rem;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
}
.aTag {
    background-color: #B0E0E6;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 8vw;
    height: 50px;
    line-height: 50px;
    display: block;
}
.subList_ul{
    background-color: #F0F8FF;
}
.subList_ul a{
   color:  #333333;
}
#container .subList:hover .subList_ul {
    display: block;
    z-index: 10;
}

#container .subList:hover .subList_ul li {
    z-index: 10;
}

.subList_ul {

    display: none;
}


#container .subList_ul li {
    padding: 10px 0;
}
#banner {
    background-image: url(../studyImg/배너이미지.jpg);
    background-size: cover;
    background-position: center;
    width: 65vw;
    height: 30vh;
    margin: 0 auto;
    border-radius: 20px;
}
#banH3,#banH2{
    text-align: center;
    margin-top: 5vh;
    position: relative;
    top: 10vh;
    color: whitesmoke;
}
.banner_charBox{
    position: relative;
  display: flex;
    justify-content: space-between;
    top: -10vh;

}
.banner_charBox img{
    width: 10vw;
    min-width: 150px;

}
.tabletChar{
    display: none;
}
#table {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#studyForm {
    background-color: #FFFFF0;
    border-radius:16px;
    box-shadow: inset 0 0 8px;
    width: 430px;
    height: 280px;
    margin-right: 5vw;
    margin-bottom: 3vh;
}

form {
    text-align: center;
    width: 700px;
}
#fCheck{
    margin-left: 1vw;
}
#fDown {
    background-color: #FFFFF0;
    border-radius: 10%;
    padding: 5px;
    margin-left: 1vw;
    color: black;
}

.form_flexbox {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form_flexbox div {
    display: flex;
    width: 40%;
    height: 70px;
    justify-content: left;
    align-items: center;
    margin-bottom: 50px;
}
.formSel{
    margin-left: 2vw;
}
.studyGoal {
    padding: 20px;
    display: flex;
    justify-content: left;
    margin-left: 2.3vw;
    position: relative;
    top: -100px;
}
#searchBtn{
    margin-left: 2vw;
    width: 30px;
    height: 30px;
    margin-top: -1.5vh;
}

.formTxt {
    border: none;
}

#uniSel {
    margin-left: 2vw;
}

#text {
    margin-left: 2vw;
    height: 1.8vh;
}

.taBtn {
    background-color: #FFFFF0;
    color: black;
}
#studyMainTable{
    width: 40vw;
}
#studyMainTable th,
td {
    white-space: nowrap;
    padding: 10px;
    border-bottom: 1px solid silver;
    font-size: 0.8rem;
}

#studyForm>.form_flexbox div:nth-child(3),
#studyForm .form_flexbox div:nth-child(4) {
    position: relative;
    top: -5vh;
}

/* Tablet 화면에 대한 스타일 추가 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header, .main_menu ul, #logo a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logo{
        margin: 10px;
    }
    #logo img{
        width: 80px;
        height: 25px;
    }
    #logo a{
        position: relative;
        top: 5px;
        white-space: nowrap;
        text-decoration: none;
        color: black;
    }
    #logo p{
        padding: 4px 0 0 5px;
        font-weight: bolder;
        font-size: 18px;
        font-family: omyu-pretty, cookie-run-bold, malgun_gothic, serif;
        color: rgb(1,140,209);
    }
    header{
        position: fixed;
        width: 100%;
        padding-bottom: 10px;
        background: white;
        box-shadow: 0 -10px 20px 10px lightgray;
        z-index: 100;
    }
    #mobile_btn{
        display: none;
    }
    #mobile_menu{
        display: none;
    }
    .main_menu li{
        list-style: none;
        margin-top: 15px;
        margin-right: 30px;
    }
    .main_menu a{
        font-family: omyu-pretty, cookie-run-regular, malgun_gothic, serif;
        white-space: nowrap;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 18px;
        padding: 10px 10px 16px 10px;
    }
    .main_menu a:hover{
        color: rgb(30,67,216);
        border-bottom: 4px solid rgb(30,67,216);
    }

    #login_btn{
        white-space: nowrap;
        text-decoration: none;
        border: 2px solid rgb(30,67,216);
        height: 25px;
        border-radius: 30px;
        padding: 5px 10px 2px 10px;
        position: relative;
        top: 10px;
        left: -10px;
        color: rgb(30,67,216);
        font-size: 16px;
        font-weight: bolder;
        font-family: omyu-pretty,cookie-run-regular, malgun_gothic, serif;
    }
/*타블랫 헤더 끝 */

    footer{
        padding: 30px 0 30px 10px;
        background: rgb(6,18,66);
        position: relative;
        z-index: 20;
        color: whitesmoke;
    }
    footer p{
        font-family: omyu-pretty, malgun_gothic, serif;
    }
/*타블렛 footer 끝*/

    #container {
        width: 90%; /* 화면 크기에 맞게 조정 */
    }
    .mainList {
        position: relative;
        padding-top: 15vh;
    }
    .subList{
        font-size: 0.8rem;
    }
    #banner{
        padding-top: 10vh;
        height: 10vh;
        background-image: url(../studyImg/배너이미지.jpg);
        background-size: cover;
        background-position: center;
    }
    #banner h2{
        font-size: 20px;
    }
    #banH2,#banH3{
        position: relative;
        top: -10vh;
        color: whitesmoke;
    }
    .main_ul {
        top: 100px; /* 조정된 높이 */
    }

    .aTag {
        width: 10vw; /* 버튼 크기 조정 */
        color: black;
    }
   .subList li a{
       color: #333333;
   }
    .banner_charBox{
       display: none;
    }
    .tabletChar{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -18vh;
    }
    .tabletChar img{
        position: relative;
        top: -5vh;
        width: 20%;
        height: 25%;
    }
    #studyForm {
        width: 80%; /* 폼 너비 조정 */
    }
    .form_flexbox div{
        display: block;
        padding-right: 1vw;
        border-bottom: 1px solid silver;
    }
    #check{
        display: flex;
    }
    #down{
        display: flex;
    }
.formTxt{
    font-size: 0.5rem;
    white-space: nowrap;
}

    .studyGoal {
        position: relative;
        top: -10vh;
        left: -3vw;
    }
    #uniSel{

        width: 7vw;
    }
    #graSel{

    }
#text{
    width: 10vw;

}
    #studyMainTable th, #studyMainTable td {
        font-size: 0.5rem;
    }
    #studyMainTable{
    }
}

@media (max-width: 768px) {


    /* 모바일용 */
    body {
        background-color: #FFF;
    }
    #mobForm{
        display: block;
    }
    #container{
        width: 768px;
    }
    .pc {
        display: none !important
    }
    .mainList{
        display: none;
    }
    #banner{
        display: none;
    }
    #container{
        display: flex;
        flex-direction: column;
    }
    header, .main_menu ul, #logo a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logo {
        margin: 10px;
    }

    #logo img {
        width: 80px;
        height: 25px;
    }

    #logo a {
        position: relative;
        top: 5px;
        white-space: nowrap;
        text-decoration: none;
        color: black;
    }

    #logo p {
        padding: 4px 0 0 5px;
        font-weight: bolder;
        font-size: 18px;
        font-family: omyu-pretty, cookie-run-bold, malgun_gothic, serif;
        color: rgb(1, 140, 209);
    }

    header {
        position: fixed;
        width: 100%;
        padding-bottom: 10px;
        background: white;
        box-shadow: 0 -10px 20px 10px lightgray;
        z-index: 100;
    }

    .main_menu {
        display: none;
    }

    #login_btn {
        display: none;
    }

    #mobile_btn {
        position: relative;
        top: 8px;
        right: 8px;
    }

    #mobile_login_btn img {
        width: 35px;
        margin-right: 3px;
    }

    #mobile_menu_btn {
        width: 35px;
    }

    /* 헤더 부분 CSS 끝 */
    /* 모바일 메뉴 CSS 시작 */
    .sub_menu {
        display: none;
    }

    #mobile_menu {
        display: none;
        position: fixed;
        right: 5px;
        top: 60px;
        background: whitesmoke;
        border-radius: 10px;
        width: 140px;
        z-index: 80;
        box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.3);
    }

    #mobile_menu ul li {
        text-align: left;
    }

    #mobile_menu ul li a {
        display: inline-block;
        width: 130px;
        text-decoration: none;
        padding: 7px 0 7px 10px;
        color: rgb(6, 18, 66);
        font-family: cookie-run-regular, omyu-pretty, malgun_gothic, serif;
        font-size: 18px;
    }
    #container {
        width: 96%;
        display: block;
    }
    #table {
        flex-direction: column; /* 세로로 나열 */
        align-items: center; /* 중앙 정렬 */
    }
    #Category{
        display: flex;
        width: 90vw;
        height: 20vh;
        justify-content: center;
        border:1px solid #ffebb5;
        background-color:#ffebb5;
        border-radius:16px;
        box-shadow: inset 0 0 8px #deb13a;


    }
    #Category label{
        margin-top: 100px;
    }
    #mainCategory{
        background-color: #F0F8FF;
        border: 1px solid silver;
        margin-top: 100px;
        height: 30px;
        margin-right: 100px;
        border-radius:16px;

    }
    #subCategory{
        background-color: #F0F8FF;
        margin-top: 100px;
        height: 30px;
        border-radius:16px;

    }
    #studyMainTable th,td{
        font-size: 0.6rem;
    }
    footer {
        padding: 0 0 30px 10px;
        background: rgb(6, 18, 66);
        position: relative;
        z-index: 20;
        color: whitesmoke;
    }

    footer p {
        font-family: omyu_pretty, malgun_gothic, serif;
        font-size: 10px;
        margin-bottom: 5px;
    }
}