*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'cookie-run-black';
    src: url("../../index/font/CookieRunBlack.ttf");
}

@font-face {
    font-family: 'cookie-run-bold';
    src: url("../../index/font/CookieRunBold.ttf");
}

@font-face {
    font-family: 'cookie-run-regular';
    src: url("../../index/font/CookieRunRegular.ttf");
}

@font-face {
    font-family: 'omyu-pretty';
    src: url("../../index/font/omyuPretty.ttf");
}

@media screen  and (max-width: 767px ),
screen and (max-height: 479px) and (orientation: landscape){
    /* 헤더 부분 CSS 시작 */
    header, .main_menu ul, #logo a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logo{
        margin: 10px;
    }
    #logo img{
        width: 80px;
        height: 25px;
    }
    #logo a{
        position: relative;
        top: 5px;
        white-space: nowrap;
        text-decoration: none;
        color: black;
    }
    #logo p{
        padding: 4px 0 0 5px;
        font-weight: bolder;
        font-size: 18px;
        font-family: omyu-pretty, cookie-run-bold, malgun_gothic, serif;
        color: rgb(1,140,209);
    }
    header{
        position: fixed;
        width: 100%;
        padding-bottom: 10px;
        background: white;
        box-shadow: 0 -10px 20px 10px lightgray;
        z-index: 100;
    }
    .main_menu{
        display: none;
    }

    #login_btn{
        display: none;
    }

    #mobile_btn{
        position: relative;
        top: 8px;
        right: 8px;
    }
    #mobile_login_btn img{
        width: 35px;
        margin-right: 3px;
    }
    #mobile_menu_btn{
        width: 35px;
    }

    /* 헤더 부분 CSS 끝 */

    /* 모바일 메뉴 CSS 시작 */
    .sub_menu{
        display: none;
    }

    #mobile_menu{
        display: none;
        position: fixed;
        right: 5px;
        top: 60px;
        background: whitesmoke;
        border-radius: 10px;
        width: 140px;
        z-index: 80;
        box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.3);
    }
    #mobile_menu ul li{
        list-style: none;
        text-align: left;
    }
    #mobile_menu ul li a{
        display: inline-block;
        width: 130px;
        text-decoration: none;
        padding: 7px 0 7px 10px;
        color: rgb(6,18,66);
        font-family: cookie-run-regular, omyu-pretty, malgun_gothic, serif;
        font-size: 18px;
    }
    #mobile_menu ul li a:active{
        color: rgb(1,140,209);
        border-radius: 10px;
    }

    /* 모바일 메뉴 CSS 끝 */

    /* 메인 페이지 CSS 시작 */

    /* 메인 페이지 CSS 끝 */

    /* 푸터 영역 시작 */
    footer{
        padding: 30px 0 30px 10px;
        position: relative;
        text-align: center;
        top:93vh;
        z-index: 20;
    }
    footer p{
        font-size: 11px;
        font-family: omyu-pretty, malgun_gothic, serif;
    }
    /* 푸터 영역 끝 */

}